body{
    background-color: black;
    color:aliceblue;
    margin:5%;
    text-align: center;
    border: 2px solid white;
    padding: 1%;
}

header {
    display: flex;
    height: 70px;
    background-color: #E71D36;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: gold;
}

nav a {
    text-decoration: none;
    color: #AEECEF;
    padding: 20px;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: cursive;
}

#MainListPage {
    display: flex;
    align-items: center;
}

#MainListPage img {
    height: 70px;
    margin-right: 10px;
    border-radius: 10%;
}

a:hover  {
    color: #19180A;
}

p {
    font-size: 24px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large; 
    font-style: italic;
    color:crimson;
    text-align: center;
    -webkit-text-stroke: 1px white;
}
h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26;
    text-align: center;
    font-style: italic;
    -webkit-text-stroke: 1px blue;
}
#MyPhoto img {
    text-align: center;
    border-radius: 40%;
    border: 2px solid white;

}
ul li {
    color:gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
li {
    text-align:center;
}
h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-style: italic;
    -webkit-text-stroke: 1px red;
}
li {
    display:block;
}
.container {
    display:flex;
    justify-content:space-between;
    text-align: left;
}

.container ul li {
    text-align:left;
}

