*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color:#3F220F;
}
.FormRegister {
    width:40%;
    background-color:#19180A;
    padding: 2%;
    margin:auto;
    margin-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    color:gold;
    border-radius: 2%;
}
label {
    font-size: 20px;
    color:white;
}
.FormRegister .controls {
    color:black;
    font-family:fantasy;

}
.FormRegister h1 {
    font-size: 30px;
    margin-bottom: 20;
    text-align: center;
}
.controls {
    width:100%;
    background:bisque;
    padding:10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
} 
.FormRegister p{
    height: 30px;
    line-height:30px ;
    text-align: center;
    font-size: 16px;
}
.FormRegister a{
    color:white;
    text-decoration: none;
}
.FormRegister a:hover{
    color:white;
    text-decoration: underline;
}
.FormRegister #Bottom {
    width: 100%;
    background-color: darkblue;
    border:none;
    padding:12px;
    color:white;
    margin-left: 16px 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#MainListPage {
    height:80px ;
    text-align: center;
    background-color: black;
    padding:20px;
    font-size:28px; 
    text-align: center;
}
#MainListPage a:hover {
    color:aqua;
}
#MainListPage a {
    color: gold;
    margin: 0px 50px 0px 50px;
     
}